.title {
    text-align: center;
}

.background {
    background-image: url('assets/background.png');
    background-size: 900px 900px;
}

/*Images*/
.image-container {
    position: relative;
    top: 350px;
    margin: 0 auto;
    width: fit-content;
}

.table-image {
    width: 1000px;
}

.chair-image {
    position: absolute;
    width: 250px;
    bottom: 25px;
    left:350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.mannequinhand-image{
    position: absolute;
    width: 100px;
    bottom: 210px;
    left:710px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.newspaper-image {
    position: absolute;
    width: 300px;
    bottom: 50px;
    left:50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.rotate-animation:hover {
    transform: rotate(3deg);
}

.sketchbook-image {
    position: absolute;
    width: 250px;
    bottom: 150px;
    left:150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.oldcomputer-image {
    position: absolute;
    width: 400px;
    bottom: 130px;
    left:340px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

