.title {
    text-align: center;
    font-family: 'Garamond', serif;
    font-size: 3.5rem;
    font-weight: 600;
}

.home-background {
    background-image: url('assets/home-background.png');
    background-size: 900px 900px;
}

.biology-background {
    background-image: url('assets/biology-background.png');
    background-size: 900px 900px;
}

.sketches-background {
    background-image: url('assets/sketches-background.png');
    background-size: 900px 900px;
}

.information-background {
    background-image: url('assets/information-background.png');
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
}

.info-section-content {
    background-image: url('assets/info-section.png');
    background-size: 900px 900px;
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: 1.5rem;
    color: white;
    width: 60%;
    /* margin: 0 auto;
    text-align: center; */
}
/*Images*/
.image-container {
    position: relative;
    top: 350px;
    margin: 0 auto;
    width: fit-content;
}

.table-image {
    width: 1000px;
}

.chair-image {
    position: absolute;
    width: 250px;
    bottom: 25px;
    left:350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.mannequinhand-image{
    position: absolute;
    width: 100px;
    bottom: 210px;
    left:710px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.newspaper-image {
    position: absolute;
    width: 300px;
    bottom: 50px;
    left:50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.rotate-animation:hover {
    transform: rotate(3deg);
}

.sketchbook-image {
    position: absolute;
    width: 250px;
    bottom: 150px;
    left:150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.oldcomputer-image {
    position: absolute;
    width: 400px;
    bottom: 130px;
    left:340px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

